<% if flash[:alert].present? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <span class="text-white"><%= flash[:alert] %></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="fal fa-times"></i>
    </button>
  </div>
<% elsif flash[:notice].present? %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <span class="text-white"><%= flash[:notice] %></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="fal fa-times"></i>
    </button>
  </div>
<% end %>
<%= image_tag "logos/main.svg", class: "devise-logo" %>
<h1 class="devise-heading"><%= t ".heading" %></h1>
<h2 class="devise-sub-heading"><%= t ".subheading" %></h2>

<%= form_for(resource,
             as: resource_name,
             url: session_path(resource_name),
             html: { class: "mt-6" }) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
                      placeholder: t("devise.labels.email"),
                      class: "form-control devise-input mb-5" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "current-password",
                         placeholder: t("devise.labels.password"),
                         class: "form-control devise-input" %>
  </div>

  <div class="custom-control custom-checkbox text-left">
    <%= f.check_box :remember_me, class: "custom-control-input" %>
    <%= f.label t(".remember_me"), class: "custom-control-label" %>
  </div>

  <%= f.submit t(".action"), class: "btn btn-success devise-btn mt-5 mb-6" %>
<% end %>

<%= link_to t(".password"), new_password_path(resource_name) %>
<br>
<%= link_to t(".confirmation"),
            new_confirmation_path(resource_name) %>
<p class="mt-1"><%= t(".help") %></p>
<%= link_to t(".help_link"), new_registration_path(resource_name),
            class: "btn btn-secondary devise-btn mt-4" %>
